.kanbanboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 20px;
}

.column {
    padding: 10px;
    background: #F5F5F5;
    border-radius: 16px 16px 0px 0px;
}

.title {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}


.todoTitle {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #0D062D;
    margin-right: 20px;
}

.count {
   
    width: 20px;
    height: 20px;
    text-align: center;
    background: #E0E0E0;
    border-radius: 10px;
}

.kanbanIcon {
    position: absolute;
    right : 4%;
    top: 10%;
    background: rgba(80, 48, 229, 0.2);
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    border-radius: 5px;
    font-size : 20px;
    text-align: center;
    padding: 0px;
}

.hr {
    margin-top: 20px;
    width: 93%;
    height: 0px;

    background: #800080;
    
}

.cardContainer {
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    
}